.titulo {
  font-family: "Crimson Text", serif;
  font-weight: 800;
  font-style: normal;
}

.texto{
  font-family: "Crimson Text", serif;
  font-weight: 400;
  font-style: normal;
}


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Crimson Text", serif;
}

body {
  min-height: 100vh;
  background: #eef5fe;
}


.wrap {
    display: flex;
    justify-content: center;
    align-items: center;
}